.footer{
    display: flex;
    padding: 16px;
    background-color: var(--surface-color);
    justify-content: space-between;
    align-items: center;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    max-width: 297px;
    align-items: center;
}


footer p :hover{
    color: var(--brand-color);
    text-decoration: underline;
}